@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body::before {
    content: "";
    position: absolute;
    background: linear-gradient(
      134.27deg,
      rgba(115, 186, 237, 0.16) 5.56%,
      rgba(11, 34, 57, 0.16) 50.65%,
      rgba(210, 165, 47, 0.16) 93.01%
    );
    filter: blur(179.063px);
    @apply inset-0;
    z-index: -100;
  }
  body {
    @apply relative text-lg;
  }
  a {
    @apply text-lg font-poppins text-[#414141];
  }
}
